.thumbnail {
  width: 180px;
  height: auto;
  margin: 6px;
  text-align: center;
}

h1 {
  text-align: center;
  color: rgb(106, 87, 180);
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.name {
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  margin: 5px;
}

.date {
  color: rgb(134, 133, 133);
  font-size: smaller;
}

.test {
  display: flex;
  align-items: center;
}

.comment-word {
  margin-left: 50px;
}
